@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Roboto:wght@300&display=swap');
body{
  font-family: 'Roboto', sans-serif;
}

:root{
  --bgrSecond: #f5f5f5;
  --primary: #111111;
  --text-color: #1A1A1A;
  --btn-hover: #757575
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Owner Flow Css */
.owner-container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-width: 800px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid ;
  position: relative;
}
.owner-title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  padding: 10px 0px;
  align-items: center;
  height: 40px;
}
.owner-title>*, .owner-item>*{
  width: 16.67%;
}
.item-edit, .item-delete, .title-edit, .title-delete{
  width: 8.3%;
  text-align: center;
}
.item-edit, .item-delete{
  height: 50px;
  line-height: 50px;
}
.item-edit:hover, .item-delete:hover{
  cursor: pointer;
  background-color: rgb(232, 229, 229);
  border-radius: 5px;
}
.title-name, .item-name{
  width: 33.2%;
}

.owner-item{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 0px;
  align-items: center;
  height: 40px;
}

.owner-container>.main>*:nth-of-type(even){
  background-color: var(--bgrSecond);
}
.owner-container .table-name{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 0px -10px;
  line-height: 35px;
}
.owner-container .btn{
  border: 1px solid var(--primary);
  border-radius: 5px;
  background-color: var(--primary);
  color: white;
  width: 100px;
  padding: 5px 10px;
  line-height: 25px;
  text-align: center;
}
.owner-container .btn:hover{
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
  cursor: pointer;
}
.owner-container .header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}