section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    overflow: scroll;
}

.inputForm {
    width: 50vw;
    min-width: 500px;
    padding: 20px 30px;
    margin: auto;
    background-color: white;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.inputForm>label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputForm input {
    width: 98%;
    margin: 5px 0 10px 0;
    height: 1.4rem;
    line-height: 1.3rem;
    padding: 0.3rem 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.inputForm>input:focus,
.inputForm>textarea:focus, .shortInput:focus {
    outline: none;
}

.inputForm>textarea {
    width: 98%;
    padding: 0.3rem 5px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.inputForm .colorInput .shortInput,
.inputForm .shortInput {
    width: 20%;
    min-width: 100px;
}

label.shortLabel {
    width: 20%;
    display: block;
    margin-right: 22px;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
}

.btn {
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
    width: 100px;
    padding: 5px 10px;
    line-height: 25px;
    text-align: center;
    margin: 20px 10px;
}

.btn.cancel {
    background-color: lightgrey;
    color: var(--text-color);
}

.btn:hover {
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
    cursor: pointer;
}

.btn:disabled {
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
    cursor: default;
}

p.errMsg {
    color: red;
    font-size: 0.8rem;
    margin: 0px;
}

input.errMsg,
textarea.errMsg {
    border-color: red;
}

.bi.bi-plus{
    border-radius: 5px;
    line-height: 29px;
    font-size: 29px;
}
.bi.bi-dash-circle {
    border-radius: 5px;
    line-height: 1rem;
    font-size: 1rem;
    padding: 5px;
    color: lightgray;
}
.bi.bi-plus:hover, .bi.bi-dash-circle:hover{
    cursor: pointer;
    color: black;
}
.bi.bi-plus:hover{
    background-color: rgb(232, 229, 229);
}