.customer-info-wrapper{
    margin: 3rem 8rem 3rem;
}
.customer-infor-header{
    text-align: center;
    font-weight: 500;
    align-self: center;
}
.customer-info-wrapper input{
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(243, 240, 240);
    /* box-shadow: 2px 2px 2px #ccc; */
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: rgb(241, 241, 241);
}
.customer-info-wrapper input:focus{
    border: 0px;
    background-color: rgb(219, 220, 220);
    box-shadow: none;
}

.btn.btn-dark.btn-lg.btn-block{
    margin-top: 2rem;
    background-color: rgb(105, 105, 105);
    color: #fff;
    font-weight: bold;
}
.btn.btn-dark.btn-lg.btn-block:hover{
    background-color: rgb(255, 106, 0);
    box-shadow: 5px 5px 30px rgb(144, 144, 144);
}
.form-order-title{
    margin: 2rem 0rem 1rem;
}
.table thead th{
    background-color: #b4b4b4;
    font-weight: 900;
}

.row .quantity{
    text-align: center;
}

.subTotal-title{
    font-weight: 900;
}
.shipping{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 30%;
}
.shipping-content{
    margin-left: 5rem;
}
.table.total{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    align-items: flex-end;
    width: 100%;
}
.total-price{
    align-items: center;
}
.total-price-content{
    font-size: 28px;
    color: rgb(255, 98, 0);
}
.button-order{
    display: flex;
    align-items: center;
    justify-content: right;
}
.button-order button{
    display: flex;
    padding: 0.7rem 2.5rem;
}
.error{
    color: red;
    font-style: italic;
}
.header-wrapper{
    display: flex;
    justify-content: center;
}
.nike-logo{
    width: 120px;
    height: 60px;
}

.d-1 {
    --c: #424242; /* the color */
    --b: .1em;    /* border length*/
    --d: 1px;    /* the cube depth */
    --h: 1.2em;   /* the height */
    
    --_s: calc(var(--d) + var(--b));
  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) var(--c), 
      0 calc(var(--h) - var(--_t,0em)) #fff;
    border: solid #0000;
    overflow: hidden;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      linear-gradient(var(--c) 0 0) 100% 100%
       /101% var(--_p,0%) no-repeat,
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgba(250, 71, 0, 0.3) 0 225deg,rgba(255, 172, 144, 0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .d-1:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
    --_t: var(--h);
    --_p: 105%;
  }
  